@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Extranet.cshtml";
}

<div style="width: 900px margin:0 auto; text-align: center; background-color: rgba(255, 255,255, 0.8); border-radius: 4px; ">


    <h1>>Quienes Somos<</h1>

    <p>
        Como empresa llegamos a ti en donde estes para llevarte la comida que mas disfrutas sea donde sea!<br />
        Nuestro origen se encuentra en Asia mas concreto en china, nuestro productos son de suma calidad para el disfrute de los clientes
    </p>


    <h2>NOTA:</h2>
    <p>
        Aún disfrutando de las comidas que repartimos se está arriesgando a diversos tipos de complicaciones por el abuso de estas comidas,<br />
        recomendamos no consumir calorias demás ni ordenar en horas en las cuales estas comidas puedan perjudicar su salud,<br />
        cualquier tipo de reclamo o demanda por este tipo de situaciones serán ignoradas de inmediato.
    </p>
    <h1 style="font-size:60px; color:red;">¡DISFRUTE SUS COMIDAS!</h1>
</div>
